@use 'sass:math';

.planet-item {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(white, 0.2);
    border-radius: 50%;
    
    &.is-highlighted {
        border: 2px solid rgba(white, 0.6);
        .planet-sphere {
            h2 {
                opacity: 1;
            }
            img {
                border: 2px dashed var(--correct);
                border-radius: 50%;
                animation: orbiting 1000s infinite;
            }
        }
    }

    &.is-darkened {
        opacity: .3;
    }

    @for $i from 1 through 8 {
        &.planet-item-#{$i} {
            width: $i * 120px;
            height: $i * 120px;
            z-index: 9 - $i;
            transform: rotate($i * 90deg);
            animation: orbiting math.pow($i, 1.25) * 1000s infinite;
            &:has(.planet-sphere:focus), &:has(.planet-sphere:hover) {
                animation-play-state: paused;
            }
        }
    }
}

$planet-sizes: (
    "mercure":  40px,
    "venus":    48px,
    "terre":    48px,
    "mars":     40px,
    "jupiter":  70px,
    "saturne":  65px,
    "uranus":   58px,
    "neptune":  58px,
);

.planet-sphere {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:focus img, &:hover img {
        scale: 1.3;
        transition: scale .3s ease;
    }

    img {
        display: inline-block;
        height: inherit;
        width: inherit;
        border: 2px solid transparent;
        padding: var(--spacer-small);
    }

    h2 {
        position: absolute;
        left: 50%;
        bottom: -20px;
        translate: -50%;
        user-select: none;
        opacity: 0;
    }

    @each $name, $size in $planet-sizes {
        &.#{$name} {
            width: $size;
            height: $size;
            margin-top: math.div(-$size, 2);
        }
    }
}
