:root {
    --primary: #26355D;
    --primary-light: color-mix(in srgb, var(--primary) 80%, white);
    --primary-dark: color-mix(in srgb, var(--primary) 80%, black);

    --correct: #9BEC00;

    --grey-medium: #888888;
}
