.search-bar {
    flex-basis: 100%;
    text-align: center;
    padding: var(--spacer-small);

    input {
        background-color: var(--background);
        border: none;
        border-radius: 20px;
        box-shadow: 5px 5px 26px -4px rgba(black ,0.25);
        color: white;
        padding: var(--spacer-small) var(--spacer-large);
        &::placeholder {
            color: rgba(white, 0.5);
        }
    }
}